kicad/cnc_pendant_to_duet/.DS_Store
kicad/cnc_pendant_to_duet/cnc_pendant_to_duet.kicad_prl
kicad/cnc_pendant_to_duet/fp-info-cache
kicad/cnc_pendant_to_duet.kicad_prl
kicad/.DS_Store
kicad/fabrication-toolkit-options.json
kicad/fp-info-cache
kicad/cnc_pendant_to_duet.bak
.DS_Store
/kicad/cnc_pendant_to_duet-backups
*.lck
kicad/_autosave-cnc_pendant_to_duet.kicad_pcb
*.af
*.af~lock~
