kicad/cnc_pendant_to_duet3D/.DS_Store
kicad/cnc_pendant_to_duet3D/cnc_pendant_to_duet3D.kicad_prl
kicad/cnc_pendant_to_duet3D/fp-info-cache
kicad/cnc_pendant_to_duet3D.kicad_prl
kicad/.DS_Store
kicad/fabrication-toolkit-options.json
kicad/fp-info-cache
kicad/cnc_pendant_to_duet3D.bak
.DS_Store
/kicad/cnc_pendant_to_duet3D-backups
*.lck
images/drawing.af
images/da-15.af
